{% extends "base.html" %}
{% load i18n pages_tags %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}
AWS Step by Step
    <h4>
    <small class="text-muted">
    システムエンジニアがAWSを活用する手法を紹介するサイトです。
    実際に使えるAWS構築手法や運用のベストプラクティスを取り上げます。
    </h4>
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% comment "Ideally Iterate %}
Ideally iterate page.title, but not work. Refer Readme for detail.
This comment block cannot be inserted between blocktrans.
{% endcomment %}
{% blocktrans %}
<div class="container">
    <div class="row">
    <div class="col-lg-8">
            <div class="row">
                <div class="col-md-4">
                    <a href="/aws/basic/">アプリケーションエンジニア向け</a>
                    <p class="text-center">
                    <ul><a href="/aws/basic/チュートリアル1/">チュートリアル1</a></ul>
                    <ul><a href="/aws/basic/チュートリアル2/">チュートリアル2</a></ul>
                    <ul><a href="/aws/basic/チュートリアル3/">チュートリアル3</a></ul>
                    <ul><a href="/aws/basic/チュートリアル後にすべき事/">チュートリアル後にすべき事</a></ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="/aws/intermediate/">オンプレミスエンジニア向け</a>
                    <p class="text-center">
                    <ul><a href="/aws/intermediate/クラウドサービスとは/">クラウドサービスとは</a></ul>
                    <ul><a href="/aws/intermediate/クラウドを活かした構成/">クラウドを活かした構成</a></ul>
                    <ul><a href="/aws/intermediate/オンプレミスとの違い/">オンプレミスとの違い</a></ul>
                    <ul><a href="/aws/intermediate/クラウドを学ぶべきか/">クラウドを学ぶべきか</a></ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="/aws/advanced/">AWSエンジニア向け</a>
                    <p class="text-center">
                    <ul><a href="/aws/advanced/devopsとは/">DevOpsとは</a></ul>
                    <ul><a href="/aws/advanced/devopsのメリットデメリット/">DevOpsのメリットデメリット</a></ul>
                    <ul><a href="/aws/advanced/devopsの構成例/">DevOpsの構成例</a> </ul>
                    <ul><a href="/aws/advanced/エンジニアに求められる事/">「エンジニア」に求められる事</a></ul>
                    </p>
                </div>
            </div>
    </div>
    </div>
</div>

{% endblocktrans %}
{% endblock %}
